body {
	font-family: Arial, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 상속 (기본 색상으로 설정) */
}

a:hover {
    text-decoration: underline; 
}

.sidebar{
	width: 200px;
	position: fixed;
	top: 100px;
	left: 0;
	height: calc(100vh - 100px); /*헤더 높이만큼 제외 */
	background-color: white;
	padding: 20px;
	z-index: 10;
	padding: 70px 20px 20px;
}

.sidebar .cButton{
	display: block;
	width: 100%;
	margin: 0px;
	padding: 10px;
	border: 1px solid white;
	background-color: white;
	text-align: left;
	color: black;
	font-size: 18px;
	font-weight: bold;
}

.sidebar .cButton:hover{
	background-color: white;
	color: #054184;
}

.main-content{
	margin-left: 200px;
	margin-top: 150px;
	
}

.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px); /* 뷰포트 높이에 맞게 컨테이너 크기 조정 */
    padding: 30px;
}

.writeBtn {
	background-color: #05203C;
	color: white;
	cursor: pointer;
	font-size: 15px;
	margin-top: 20px;
	display: flex; /* Flexbox 레이아웃 활성화 */
	justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
	width: 70px;
	height: 35px;
	border: none; /*기본 버튼 테두리 제거*/
}

.writeBtn:hover {
	background-color: #054184;
}

.writeBtn-container {
	display: flex;
	justify-content: flex-end;
}

#searchBtn {
	width: 50px;
	background-color: #05203C;
	color: white;
	cursor: pointer;
	font-size: 15px;
	border: none;
}

#searchBtn:hover {
	background-color: #054184;
}


#customers {
    width: 100%;
    border-collapse: collapse;
}

#customers th, #customers td {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#customers thead th {
    border-bottom: 1px solid #ddd;
}

#customers th {
	font-weight: bold;
}

#customers tr:hover {
	background-color: #EFF3F8;
}

.search-container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.search-container select {

    margin-right: 5px;
    height: 35px;
    padding: 0 10px;
}

.search-container #keywordInput {
    margin-right: 5px;
    padding: 0 10px;

}

.search-container #searchBtn {
		
}	

.pagination {
	text-align: center;
}

.pagination a {
	color: red;
	font-size: 20px;
}



