/* #board 요소의 크기와 정렬 설정 */
#board {
    width: 800px; /* 너비를 좁게 설정 */
    height: auto;
    padding: 80px; /* 내부 여백 */
    margin: 150px auto; /* 상단 여백과 좌우 중앙 정렬 */
    background-color: #ffffff; /* 배경색 설정 */
    text-align: left; /* 텍스트 좌측 정렬 */
    border: 2px solid lightgray; /* 테두리 설정 */
}

/* 게시판 제목 스타일 */
#board h1 {
    text-align: center; /* 제목 중앙 정렬 */
    font-size: 30px; /* 폰트 크기 */
    font-weight: 700;
    margin-bottom: 40px; /* 제목 아래 여백 */
}

.board-header {
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 제목과 날짜를 좌우로 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    background-color: #05203C; /* 네이비 배경 */
    color: #fff; /* 텍스트 색상 */
    padding: 10px 15px; /* 내부 여백 추가 */
    margin-bottom: 20px; /* 아래 여백 추가 */
}


.board-header-flag,
.board-header-c_country,
.board-header-c_name {
    font-weight: 700;
    margin: 0 30px; /* 좌우 여백 */
}

.board-flag,
.board-c_country,
.board-c_name {
    font-weight: 700;
    margin: 0 10px; /* 좌우 여백 */
}


/* 게시글 목록 스타일 */
.board-list {
    list-style-type: none; /* 목록 스타일 제거 */
    padding: 0; /* 내부 여백 제거 */
}

.board-item {
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 제목과 날짜를 좌우로 정렬 */
    padding: 30px; /* 항목의 내부 여백 */
    margin-bottom: 15px; /* 항목 간의 간격 */
    background-color: #f3f3f3; /* 항목의 배경색 */
    cursor: pointer; /* 마우스 커서 모양 */
    border: 2px solid transparent; /* 기본 상태에서 투명한 테두리 */
    transition: background-color 0.3s, border 0.3s; /* 배경색과 테두리 전환 효과 */
}
.board-header, .board-item {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: space-around; /* 가로로 요소들을 고르게 배치 */
    padding: 10px;
    margin-bottom: 10px;
    
}

.board-header-c_name, .board-c_name {
    width: 150px; /* 요소들의 고정된 넓이 */
    text-align: center;
}


/* 항목 hover 효과 */
.board-item:hover {
    background-color: #e0e0e0; /* 배경색 변경 */
    border: 2px solid #05203C; /* 테두리 색상 변경 */
}

/* 게시글 카데고리 스타일 */
.board-flag {
    font-size: 16px; /* 폰트 크기 */
    font-weight: 500; /* 폰트 두께 */
    color: #333333; /* 텍스트 색상 */
}

/* 게시글 제목 스타일 */
.board-c_name {
    font-size: 18px; /* 폰트 크기 */
    font-weight: 500; /* 폰트 두께 */
    color: #333333; /* 텍스트 색상 */
}


/* 게시글 날짜 스타일 */
.board-date {
    font-size: 15px; /* 폰트 크기 */
    color: #888888; /* 텍스트 색상 */
}

.flag-img{
	width: 50px;
	height: auto;
	
}
