body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 150px !important; /* 헤더의 높이에 맞게 조정 */
}

h1, p {
    text-align: center;
    color: #05203C;
    font-weight: bold !important;
}

h1 { 
	font-size: 50px !important;
    margin-top: 20px; /* 헤더의 높이를 고려하여 여백 조정 */
}

p {
	font-size: 20px !important;
}

.question {
    width: 800px;
    height: auto; /* 내용에 따라 높이 자동 조정 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    margin: 10px 0;
    color: black;
    transition: color;
}

.question.active {
	color: #05203C;
	font-weight: bold
	
}

.answer {
    max-width: 800px;
    height: auto; /* 내용에 따라 높이 자동 조정 */
    display: none;
    padding: 10px;
    border: 1px solid #EFF3F8;
    border-radius: 4px;
    background-color: #EFF3F8;
    margin-top: 10px;
    word-break: break-word; /* 긴 단어를 줄바꿈 */
}