
/* 알림 페이지 */
.header_mini_alarmPage {
    width: 300px;               /* 너비 설정 */
    height: auto;          /* 최소 높이 설정 */
    
    top: 110px; 
	left: 250px; 
	
    background-color: #ffffff;  /* 배경색 예시 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* 그림자 효과 추가 */
	border: 1px solid #ddd; /* 테두리 추가 (선택사항) */
    border-radius: 10px;         /* 테두리 둥글게 설정 */
    padding: 20px;              /* 패딩 예시 */
    
    z-index: 9999; /* 가장 위로 배치되도록 설정 */
	position: fixed; /* 화면에 고정되도록 설정 */
	overflow-y: auto; /* 높이를 초과할 경우 스크롤바 표시 */
}
.header_mini_alarmPage_top {
	width: 100%;
	border-bottom: 1px solid #ddd; /* 밑에만 테두리 추가 */
    height: 30px;
    margin-bottom: 10px;  /* 테두리 아래 여백 추가 */
}
.header_mini_alarmPage_top p {
	color: black;          /* 글자색을 검은색으로 설정 */
    font-size: 20px;   /* 폰트 크기 설정 */
    font-weight: bold; /* 글자 굵게 설정 */
    padding-left: 10px;
}
.header_mini_alarmPage_bottom {
	width: 100%;
	
	height: 417px;
	display: flex;             /* flexbox 사용 */
    flex-direction: column;    /* 수직 방향으로 정렬 */
}
.alarm_message{
	width: 100%;
	height: auto;
	max-height: 500px; /* 최대 높이 설정 */
	
	border: 1px solid #bbb; /* 테두리 추가 (선택사항) */
    border-radius: 10px;         /* 테두리 둥글게 설정 */
    margin: 5px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    padding: 10px; 
}

.alarm_message_title {
	width: 100%;
		
	height: 25px;
	padding-button: 10px;
	display: flex;
	border: none; /* 테두리 제거 */
}
.alarm_message_title_nation {
	color: black;
	font-size: 14px;
	font-weight: bold; /* 글자 굵게 설정 */
	margin-right: 5px;
}
.alarm_message_title_time {
	color: black;
	font-size: 14px;
	font-weight: bold; /* 글자 굵게 설정 */
	margin-right: auto;
}
.alarm_message_button{
	width: 30px;
	height: 100%;
	background: none; /* 배경 없애기 */
    border: none;     /* 테두리 없애기 */
    color: black;     /* 글자색 검은색 */
    cursor: pointer;  /* 커서 포인터로 변경 */
}
.alarm_message_button:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 (예시) */
}


.alarm_message_contents {
	display: flex; /* Flexbox 사용 */
	flex-direction: row; /* 수평으로 나열 */
	align-items: center; /* 자식 요소 수직 중앙 정렬 */
	padding: 0px;
}
.alarm_message_img {
    width: 40px; /* 너비 23px 설정 */
    height: 40px; /* 높이는 비율에 맞게 자동 조정 */
    display: block; /* 블록 요소로 설정하여 중앙 정렬 가능 */
    margin-right: 10px; /* 오른쪽 여백 5px 추가 */
}
.alarm_message_text{
	width: 100%;

	color: black;
	font-size: 12px;
}

.header_mini_alarmPage_bottom2 {
	width: 100%;
	
	height: 70px;
	display: flex;             /* flexbox 사용 */
    flex-direction: column;    /* 수직 방향으로 정렬 */
    justify-content: center;      /* 수직 중앙 정렬 */
}
.header_mini_alarmPage_bottom2 p {
    color: gray; /* 글자 색상 회색으로 설정 */
    margin-bottom: 10px; /* 아래 여백 10px 설정 */
    text-align: center; /* 가운데 정렬 */
}
.header_mini_alarmPage_bottom2 a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 사용 (링크 색깔 제거) */
    font-size: 16px;
   
}
.header_mini_alarmPage_bottom2 a:hover {
    color: #054184; 
}