body {
	background-color: #fff;
	color: #333;
	display: flex;
	flex-direction: column; /* 수직 방향으로 정렬 */
	align-items: center; /* 수평 중앙 정렬 */
	min-height: 100vh; /* 화면 전체 높이 */
}

#main {
	/*  display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	width: 100%;
	max-width: 800px; /* 최대 너비 설정 */
	/* box-sizing: border-box; */
	margin-top: 50px; /* 여기에 원하는 값 설정 */
	background-color: #ffffff;
	border-radius: 50px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	padding: 40px;
}

#main h1 {
	height: 40px;
	font-size: 30px; /* 글자 크기 설정 */
	font-weight: bold; /* 글자 굵기 설정 */
	text-align: center;
}

#main h3 {
	text-align: center;
}

button, input[type="submit"]{
	width: 100px;
	height: 50px;
	background-color: #4158D0; /* 버튼 배경색을 설정합니다. */
	color: white; /* 버튼 텍스트 색상을 흰색으로 설정합니다. */
	padding: 10px 20px; /* 버튼의 내부 여백을 상하 10px, 좌우 20px로 설정합니다. */
	margin: 10px 0; /* 버튼의 상하 여백을 10px로 설정합니다. */
	border: none; /* 버튼의 테두리를 없앱니다. */
	cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능함을 나타냅니다. */
	font-size: 14px; /* 버튼 텍스트의 크기를 14px로 설정합니다. */
	border-radius: 5px;
	
}

#u_id,#u_address {
	width: 600px; /* 입력 필드와 버튼의 너비를 100%로 설정 */
	padding: 15px;
	margin: 15px 0;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 18px;
}

#email {
	width: 500px; /* 입력 필드와 버튼의 너비를 100%로 설정 */
	padding: 15px;
	margin: 15px 0;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 18px;
}

#select {
	width: 190px;
	padding: 15px;
	margin: 15px 0;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 18px;
}

#phoneNumber {
	width: 228px; /* 입력 필드와 버튼의 너비를 100%로 설정 */
	padding: 15px;
	margin: 15px 0;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 18px;
}

#toggleImg{
	width: 35px;
	height: 35px;
	
}
 
#togglePw {
    width: 40px; /* 버튼 너비 설정 */
    height: 40px; /* 버튼 높이 설정 */
    background-color: transparent; /* 버튼 배경색을 투명으로 설정 */
    border: none; /* 버튼 테두리 제거 */
    cursor: pointer; /* 버튼에 마우스를 올리면 포인터 모양으로 변경 */
    padding: 0; /* 버튼 내부 여백 제거 */
    display: flex; /* 이미지 중앙 정렬을 위한 flexbox 사용 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    margin-left: -50px; /* 버튼을 입력 필드 위로 이동 */
}

.password-container {
     position: relative; /* 자식 요소들을 상대적으로 배치 */
} 

.password-input-wrapper {
    display: flex; /* 입력 필드와 버튼을 가로로 나란히 배치 */
    align-items: center; /* 수직 방향으로 가운데 정렬 */
}

input[type="text"], input[type="date"], input[type="password"], input[type="checkbox"],
	input[type="submit"],u_pw{
	width: 100%; /* 입력 필드와 버튼의 너비를 100%로 설정 */
	padding: 15px;
	margin: 15px 0;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 18px;
}

input[type="radio"] {
	appearance: none; /* 기본 브라우저 스타일 제거 */
	width: 20px;
	height: 20px;
	border: 2px solid #4158D0; /* 테두리 색상 */
	border-radius: 50%; /* 원형으로 만들기 */
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:checked {
	background-color: #4158D0; /* 선택되었을 때의 배경색 */
	border-color: #4158D0; /* 선택되었을 때의 테두리 색상 */
	position: relative;
}

input[type="radio"]:checked::after {
	content: '';
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type="submit"]{
	width: 200px;
	background-color: #4158D0;
	color: white;
	border: none;
	cursor: pointer;
	font-weight: bold;
	background-color: #4158D0;
	display: inline-block; /* 기본값이지만 명시적으로 설정 */
	margin: 15px auto; /* 위아래 여백을 설정하고, 좌우 자동으로 설정 */
	display: flex;
	flex-direction: column; /* 수직 방향으로 정렬 */
	align-items: center; /* 수평 중앙 정렬 */
	
}

button:hover, input[type="submit"]:hover{
	background-color: #2f46a2;
}

label {
	margin-left: 8px;
	font-size: 18px;
}


.error-message {
	color: red;
	font-size: 0.875em;
	margin-left: 5px;
}

.correct-message {
	color: green;
	font-size: 0.875em;
	margin-left: 5px;
}
