.error-message {
	color: red;
	font-size: 0.875em;
	margin-left: 5px;
}

.correct-message {
	color: green;
	font-size: 0.875em;
	margin-left: 5px;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f0f8ff; /* 밝은 파란색 배경 */
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-size: 18px; /* 기본 폰트 크기 증가 */
}

h1 {
	color: #0056b3; /* 짙은 파란색 제목 */
	text-align: center;
	margin-bottom: 30px; /* 제목 아래 여백 증가 */
	font-size: 32px; /* 제목 폰트 크기 증가 */
}

form {
	background-color: #ffffff;
	border-radius: 10px; /* 모서리 둥글기 약간 증가 */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* 그림자 크기 증가 */
	padding: 40px; /* 패딩 증가 */
	width: 100%;
	max-width: 600px; /* 폼 너비 증가 */
	box-sizing: border-box;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"],
	input[type="radio"], input[type="checkbox"], input[type="submit"],
	button {
	width: 100%;
	padding: 15px; /* 입력 필드와 버튼의 패딩 증가 */
	margin: 15px 0; /* 입력 필드와 버튼 사이의 간격 증가 */
	border: 1px solid #cccccc;
	border-radius: 5px; /* 모서리 둥글기 증가 */
	box-sizing: border-box;
	font-size: 18px; /* 입력 필드와 버튼의 폰트 크기 증가 */
}

button {
	background-color: #0056b3;
	color: white;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

button:hover {
	background-color: #004494;
}

input[type="radio"] {
	width: auto;
	display: none; /* 기본 라디오 버튼 숨김 */
}

input[type="checkbox"] {
	width: auto;
	margin-right: 12px; /* 체크박스와 텍스트 사이의 간격 증가 */
}

input[type="submit"] {
	background-color: #0056b3; /* 짙은 파란색 버튼 */
	color: white;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

input[type="submit"]:hover {
	background-color: #004494; /* 버튼의 호버 상태 */
}

label {
	margin-left: 8px; /* 레이블 왼쪽 여백 증가 */
	font-size: 18px; /* 레이블의 폰트 크기 증가 */
}

.form-group {
	margin-bottom: 20px; /* 폼 그룹 사이의 간격 증가 */
}

.gender-group {
	display: flex;
	justify-content: space-between;
}

.gender-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48%; /* 버튼 너비 증가 */
	padding: 15px; /* 패딩 증가 */
	border: 1px solid #cccccc;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	background-color: #f9f9f9;
	font-size: 18px; /* 성별 선택 버튼의 폰트 크기 증가 */
}

.gender-label:hover {
	background-color: #e6f2ff;
}

input[type="radio"]:checked+.gender-label {
	background-color: #0056b3; /* 체크된 라디오 버튼의 배경색 */
	color: white;
	border-color: #0056b3;
}