

/* #main 요소의 크기와 정렬 설정 */
#main {
    height:700px;
    width: 1500px; /* #main 요소의 너비를 부모 요소의 80%로 설정 */
    padding: 50px 50px 50px 50px; /* 상단 여백을 50px로 늘림, 좌우와 하단은 기존의 50px 유지 */
    text-align: center; /* #main 요소 내의 텍스트를 중앙 정렬 */
    margin: 180px auto 0; /* 상단 여백 150px, 좌우 여백을 auto로 설정하여 중앙에 배치 */
    display: grid; /* 그리드 레이아웃 사용 */
    grid-template-columns: auto auto; /* 가운데 열을 50px로 고정하고 양쪽 열은 자동 조정 */
    grid-row-gap: 20px; /* 각 버튼 사이의 위아래 간격을 20px로 설정 */
    grid-column-gap: 0px; /* 각 버튼 사이의 좌우 간격을 0px로 설정 */
    justify-items: center; /* 각 버튼을 수평 중앙에 정렬 */
    background-color: #ffffff; /* 배경색 설정 */
}

    
#Img{
	width: 100px;
	height: 100px;
	margin-bottom: 30px;
	
}
   
/* 버튼 기본 스타일 */
.myPage-button {
    width: 300px; /* 버튼의 너비 */
    height: 300px; /* 버튼의 높이 */
    background-color: #fff; /* 버튼의 배경색 */
    border-radius: 8px; /* 모서리를 둥글게 설정 */
    font-weight:1000;
    font-size: 22px !important;
    color: #black; /* 텍스트 색상 */
    padding: 20px; /* 내부 여백 */
    border: none; /* 테두리 제거 */
    font-size: 20px; /* 텍스트 크기 */
    cursor: pointer; /* 마우스 커서 모양 */
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 이미지와 텍스트를 위아래로 배치 */
    justify-content: center; /* 자식 요소를 중앙에 배치 */
    align-items: center; /* 자식 요소를 중앙에 배치 */
    text-align: center; /* 텍스트 정렬 */
}

/* 버튼 hover 효과 */
.myPage-button:hover {
    border: 5px outset #05203C
}

