<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exfinder.dao.AlramDao">

<insert id="alramInsert">
	insert into alram values(alram_num.nextval,#{u_id},SYSDATE,#{c_code},#{target_exchange},#{deal_bas_r},'X')
</insert>

<select id="alramSelect" resultType="AlramDto">
	select * from alram where checked='X'
</select>

<update id="alramCheck">
	update alram set checked='O' where u_id=#{u_id}
</update>

<delete id="noCheckAlramDelete">
	delete from alram where checked='X'
</delete>

<select id="userAlramSelect" resultType="AlramDto">
	select a_id,u_id,to_char(create_date,'YYYY-MM-DD HH24:MI:SS') as create_date,c_code,target_exchange,deal_bas_r,checked from alram where u_id=#{u_id} order by create_date desc
</select>

<delete id="alramDelete">
	delete from alram where a_id=#{a_id}
</delete>

<delete id="alramDeleteAll">
	delete from alram where u_id=#{u_id}
</delete>

<select id="userAlramCheck" resultType="Integer">
    SELECT COUNT(*) FROM alram WHERE u_id = #{u_id}
</select>


</mapper>

