<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exfinder.dao.AlramDao">

<insert id="alramInsert">
	insert into alram values(alram_num.nextval,#{u_id},SYSDATE,#{c_code},#{target_exchange},'X')
</insert>

<select id="alramSelect" resultType="AlramDto">
	select * from alram where checked='X'
</select>

<update id="alramCheck">
	update alram set checked='O' where a_id=#{a_id}
</update>



</mapper>

