<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exfinder.dao.AuthoritiesDao">

<insert id="insert">
insert into authorities(
	u_id, authority
) values (
	#{u_id}, #{authority}
)
</insert>

<update id="updateAuthority">
    UPDATE authorities
    SET authority = #{authority}
    WHERE u_id = #{u_id}
</update>


</mapper>









