<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exfinder.dao.CsDao">
	
<!-- cs 생성 -->
	<insert id="create" parameterType="com.exfinder.dto.CsDto">
		insert into cs(cs_id, cs_title, cs_content, u_id, cs_del)
        values (cs_num.nextval, #{cs_title}, #{cs_content}, #{u_id}, #{cs_del})
	</insert>


<!-- cs 조회 -->
	<select id="read" resultType="com.exfinder.dto.CsDto">
		select * from cs where cs_id = #{cs_id}
	</select>


<!-- cs 수정 -->
	<update id="update"> 
		update cs set cs_title = #{cs_title}, cs_content = #{cs_content}, u_id = #{u_id},
		cs_del = #{cs_del} where cs_id = #{cs_id}
	</update>


<!-- cs 삭제 -->
	<delete id="delete"> 
		delete from cs where cs_id = #{cs_id}
	</delete>


<!-- cs 전체 조회 -->
	<select id="listAll" resultType="com.exfinder.dto.CsDto">
		select * from cs
	</select>


</mapper>
