<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exfinder.dao.CurrencyDao">
	
<!-- currency 조회 -->
	<select id="read" resultType="com.exfinder.dto.CurrencyDto">
		SELECT
            e.rate_date AS rate_date,
            c.c_code AS c_code,
            c.c_name AS c_name,
            c.c_country AS c_country,
            e.ttb AS ttb,
            e.tts AS tts,
            e.cash_buy AS cash_buy,
            e.cash_sell AS cash_sell,
            e.deal_bas_r AS deal_bas_r,
            e.base_r AS base_r
        FROM
            exchangerate e
        JOIN
            currency c ON e.c_code = c.c_code
        WHERE
            e.c_code = #{c_code}
            AND e.rate_date = #{rate_date}
	</select>

<!-- currency 전체 조회 -->
	<select id="listAll" resultType="com.exfinder.dto.CurrencyDto">
		SELECT
    e.rate_date AS rate_date,
    c.c_code AS c_code,
    c.c_name AS c_name,
    c.c_country AS c_country,
    e.ttb AS ttb,
    e.tts AS tts,
    e.cash_buy AS cash_buy,
    e.cash_sell AS cash_sell,
    e.deal_bas_r AS deal_bas_r,
    e.base_r AS base_r
FROM
    exchangerate e,currency c where e.c_code = c.c_code
    and e.rate_date = TRUNC(SYSDATE)
    
        
	</select>

<select id="currency_Select" resultType="com.exfinder.dto.CurrencyDto">
	select * from currency where c_code = #{c_code}
</select>

</mapper>
