<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exfinder.dao.ExchangeRateDao">

<insert id="exchangeRateInsert">
	insert into exchangerate values(#{rate_date},#{c_code},#{ttb},#{tts},#{cash_buy},#{cash_sell},#{deal_bas_r},#{base_r})
</insert>
<select id="exchangeRateSelect" resultType="exchangeRateDto">
    SELECT * FROM exchangerate
    WHERE c_code = #{c_code}
      AND rate_date BETWEEN #{start_date}
      AND #{end_date}
    ORDER BY c_code, rate_date
</select>

<select id="exchangeRateSelect_base_r" parameterType="String" resultType="double">
    SELECT base_r FROM exchangerate
    WHERE c_code = #{c_code}
      AND rate_date = #{rate_date}
</select>

<select id="currSelect" resultType="string">
	select c_code from currency
</select>

<select id="todaySelect" resultType="exchangeRateDto">
	select * from exchangerate where rate_date = #{today}
</select>
</mapper>









