<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exfinder.dao.NoticeExchangeRateDao">
	<select id="selectList" resultType="noticeExchangeRateDto">
		select * from noticeExchangerate
	</select>
	<insert id="insert">
		insert into noticeExchangeRate values(#{c_code},#{rate_date},#{annoTime},#{ttb},#{tts},#{cash_buy},#{cash_sell},#{deal_bas_r},#{base_r})
	</insert>
	<select id="nowSelect" resultType="noticeExchangeRateDto">
		select c_code,rate_date,annotime,ttb,tts,cash_buy,cash_sell,deal_bas_r,base_r 
		from (select dense_rank() over (order by rate_date desc, annotime desc) as num,
		noticeExchangerate.* from noticeExchangerate) where num = 1;
	</select>
	
</mapper>