<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exfinder.dao.UserDao">

<select id="getUserList" resultType="userDto">
select * from users where u_del = 'N'
</select>

<select id="getUser" resultType="userDto">
	select * from users where u_id= #{u_id}
</select>

<update id="updateUser">
	update users set u_pw=#{u_pw},u_nickname=#{u_nickname},u_name=#{u_name},u_gender=#{u_gender},u_birthday=#{u_birthday},u_email=#{u_email},u_phonenumber=#{u_phonenumber},u_address=#{u_address} where u_id=#{u_id}
</update>

</mapper>
